.con{
    display: flex;
    flex-wrap: wrap;
}
.card{
    width: 90vw;
    height: auto;
    margin: 8px;
    background: #2193b0;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #6dd5ed, #2193b0);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #6dd5ed, #2193b0); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

    display: flex;
    padding: 0px 10px;
    flex-direction: column;
    text-decoration: none;
   
    color: #fff    ;
    font-size: small;
    text-align: center;
    overflow: hidden;
    box-shadow: 3px 6px 10px #0002;
    border-radius: 5px;
    flex-grow: 1;
    
}

.card h6{
    text-align: center;
}

